
.box_country{
   
  
    /* box-shadow: 4px 1px 30px blue; */
    margin-bottom: 16px;
    margin-right: 20px;
    border-radius:10px;
    width:9rem;
    height: 188px;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);   
}
.box_country:hover{
    margin-top: -10px;
transition:1s;
}
.box_pop{
    font-size:15px;
    color:black;
    margin-top: 26px;
}

 .box_titles_country h6{
    width: 175px;
    margin-top: 7px;
    font-size: 10px;
    letter-spacing:2px;
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    
}


.box_img_country{
    height: 4rem;
    /* width: 0rem; */
}

.box_titles_country{
    height: 2px;
}
.titles_country h5{
    color:black;
    /* color: white; */
    font-size: 15px;
    letter-spacing:2.4px;
    font-family: 'Permanent Marker', cursive;
    padding-top: 10px;
}

.titles_country{
    color: black;
    height: 26px;
    margin-top: -25px;
}
.country_img{
    
   

    box-shadow: 2px 3px 4px black;
    /* width: 9rem;
    height: 4rem; */
    width: 181px;
    height: 71px;
    margin-right: 7px;
}

 
a{
    text-decoration: none;
}