
.box_detail{
    display:flex;
}
.box_img{ 
    width: 37rem;
    height: 1px;
}
.box_img img{

    border-radius: 1px;
    margin-right: 9.5rem;
    width: 17rem;
    height: 198px;
}
.box_hijo_detail{ 
    margin-left: 4rem;
    color: white;
    border-radius: 0 15px 15px 0 ;
    width: 25rem;
    height: 65px;
    margin-top: 4rem;
}
.parr_name{
    letter-spacing:2px;
    color: white;
    height: 22px;
    font-family: 'Permanent Marker',cursive;
    font-size: 14px;
    padding-left: 7px;
}
.parr_detail{
    font-size: 14px;
    color:white;
   
    justify-content: flex-end;
    display: flex;
    padding-right: 4px;
   
    flex-wrap: wrap;
    width: 16rem;

    height: 1rem;
}
.box_titulos{
    color:white;
    width: 35rem;
    margin-left: 9rem;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(to bottom, transparent, #834709);
    font-size: 15px;
}
.box_detail_map{
    display: flex;
    margin-left:24rem;
    height: 34px;
    border-bottom: 1px solid white;
}
.img_detail_mapeo{
    display:flex;
    margin-left: 10rem;
    width: 16rem;   
}
.box_mapeo{
    display:flex;
}
.box_main_detail{
    width: 47rem;
    display: inline-block;
    margin-left: -5rem;
   
    margin-right: 5rem;
    
}
.parr_detail_uno{
  
    color:white;
    font-size: 15px;
    height: 18px;
    margin-left: 360px;
    display: flex;
    flex-wrap: wrap;
        position: absolute;
}
.parr_detail_dos{
   font-size:14px;
   background:black;
   color:white;
   width:4.7rem;
   height:25px;
   margin-top: 6px;
   padding-top:2px;
    display: flex;
    margin-left: 250px;
    justify-content: center;
    background: linear-gradient(45deg,#000055,blue);
    box-shadow: 2px 0px 2px white;
}
.box_detail_activity{
    width: 445px;
    margin-left: 19rem;
    border-bottom: 1px solid white;
    height: 29px;
    color:white;
    font-size:15px;
    font-family: 'Permanent Marker',cursive;
    letter-spacing:2px;
    padding-left: 7px;
    margin-left: 460px;
}
.volver_a{
    width: 14rem;
    margin-left: 2rem;
    margin-bottom:3rem;
    
    margin-top: 10rem;
    position: absolute;

}
.hache_tres{
    background-color:white;
}
.img_detail_mg{
    transform:rotateY(300deg);
    margin-left: 13.2rem;
}
.box_act{
    background:linear-gradient(blue,transparent);
    font-size: 14px;
   
    margin-left: 29.8rem;
  
    width: 23rem;
  
    overflow-y: scroll;
    height: 6rem;
    overflow-y: scroll;
}
.det-span{
 margin-left:15rem;
}
.box_act_uno{
    padding-left: 2px;
    list-style: none;
    width: 184px;
}
.parr_act{
    margin-left: 9px;
    color:white;
    display:flex;
}
.box_name_act{
    color:bisque;
    font-weight: bold;
    margin-left: 9rem;
}
.det-span-i{
    margin-left:15.1rem;
}
.det-span-ii{
    margin-left:14.6rem;
}