.box_detail{
    /* margin: 0;

    background: url("../img/detail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    height: 100vh;
  
    width: 100vw;
  
    position: fixed; */

}
.box_img{ 

}
.box_img img{
   
    border-radius: 1px;
    

    width: 10rem;
    height: 8rem;
}
.box_hijo_detail{ 
    margin-left: 4rem;

    color: white;
    border-radius: 0 15px 15px 0 ;
    width: 25rem;
    height: 65px;
    margin-top: 4rem;
}
.box_hijo_detail h3{ 
   
    justify-content: flex-end;
    margin-right: 3rem;
    height: 0px;
}
.box_hijo_detail div{
    width: 49rem;
}

.box_hijo_detail_img{
    position: absolute;
    margin-top:3rem;  
}
.box_hijo_detail_img div{
    border-radius: 19px;
    width: 10rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 66px;
    box-shadow: 10px 7px 16px 9px cornflowerblue;
    margin-top: 15px;
    margin-left: 43px;
}
.box_detail_tabla{
    margin-left: 14rem;
    
    margin-top: 3rem;
    border-top: 2px solid blue;
    box-shadow: 1px 4px 5px #5179c2;
}
    

.map_type_detail{
    margin-top: 0rem;
    margin-left: 1rem;
    display: flex;
    font-size: 13px;
    background: bisque;
    width: 300px;
    height: 86px;
    /* margin-bottom: 1rem; */
    flex-wrap: wrap;
    border-radius: 16px;
}
h4{
    border-radius: 8px;
    padding-top: 27px;
    background: bisque;
    height: 57px;
    margin:0px;
    font-family: 'Permanent Marker', cursive;
}
h5{
    
    margin-right: 6px;
}
.after_table_detail{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
   
}
.th_detail_activities{
    width: 28rem;
}
p{
    color: white;
    font-weight: bold;
    margin:1px;
}
.p_detail_act{
    color: blue;
    font-style: italic;
    margin:1px;
    font-size: 13px;
}
.tr_detail_activities{
    margin-top: 0rem;
    margin-left: 4px;
    display: flex;
    font-size: 13px;
   
    flex-wrap: wrap;
    overflow-y:scroll;
    height: 64px;
    /* margin-bottom: 1rem; */
    flex-wrap: wrap;
    border-radius: 1px;


}
.box_detail_segunda_tabla{
    margin-left: 14rem;
    
    margin-top: 0rem;
}
tr{
    background: #060817;
    color: white;
}
th{
    font-family: 'Permanent Marker', cursive;
    letter-spacing:2px;
    font-size: 14px;
}
td{
    background: #060817;
    font-size:15px;
}
table{
    width: 23rem;
}