
fieldset{
   width: 0;
    height: 21rem;
    margin-left:10rem;
    margin-top:0;
    border-radius: 46px;
    background: linear-gradient(45deg, transparent, rgb(6 8 23));
    border: 3px solid black;
    box-shadow: 4px 0px 53px midnightblue;
    padding-right: 7rem;
    border: 2px;
    box-shadow: 4px 3px 12px 4px;

 padding-right: 3rem;


}
legend{
    font-size:29px;
    font-weight: bold;
    color:bisque;
    margin-bottom: 22px;

}
label{
    
    color: white;
    font-weight: bold;
    margin-right: 6px;
    font-size: 16px;
    height: 2.7rem;
}
input{
    width: 11rem;
    background:bisque;
    border-radius:15px;
    
    font-size:12px;
    padding:8px 48px;
    border: 2px solid white;
    
    height: 12px;
    margin: 0px 0px 4px 0px;
}
.select_season_form{
    background:bisque;

    border-radius:15px;
    font-family:Georgia;
    font-size:12px;
    padding:8px 48px 3px;
    border: 2px solid white;
    height: 1.5rem;
    margin-right: 1rem;
    width: 16rem;

   
}
.select_season_form{
    background:bisque;

    border-radius:15px;
    font-family:Georgia;
    font-size:12px;
    padding:8px 48px 3px;
    border: 2px solid white;
    height: 1.5rem;
    margin-right: 1rem;
    width: 16rem;

    
}
.select_country_form{
    background:bisque;

    border-radius:15px;
    font-family:Georgia;
    font-size:12px;
    padding:8px 48px 3px;
    border: 2px solid white;
    height: 1.5rem;
    margin-right: 1rem;
    width: 16rem;

   
}
::placeholder {
    color: black;
    font-size: 0.5rem;
   
  }

.crear{

    
     width: 8rem;
     height:30px;
     box-shadow: 2px 2px 3px 0px white;
     background: linear-gradient(to bottom, blue 22%, black, blue);
     background-color:black;
     border-radius:18px;
     border:1px solid white;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Georgia;
     font-size:15px;
     padding:4px ;
     text-decoration:none;
     text-shadow:0px 1px 0px #997f7d;
    margin-top:0px;
    
}

.crear:hover {
    background: linear-gradient(to bottom, black 22%, black, blue);
    background-color:black;
  transition: 1s;
  }
.crear:active {
    background: linear-gradient(to bottom, black 22%, black, blue);
    background-color:black;
  
}
.crear_to_home{
    width: 59rem;
}
.danger{
    color: red;
    display: block;
    margin:0;
    font-size:16px;


}
  .box_valida_form{
  
    height: 3rem;
    
}


.box_label{
   
    height: 33px;
    display:flex;
   
}
.box_box{
    display:inline-block;
  
    height: 2.3rem;
}

.p_form_country{
    color:white;
    border:1px solid;
}
.box_form_estado_country{
   
    list-style: none;
    
    flex-wrap: wrap;
    border-radius: 12px;
    top: 6rem;
    left: 36rem;
   
    position:absolute;
    width: 224px;
    height: 370px;
    /* overflow-y:scroll; */
}
.box_map_form{
   
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  
    
    
    margin-bottom: 14px;
    margin-top: -2pc;
}
.box_map_form p{
    margin-top: -24px;
    padding-bottom: 9px;
    display:flex;
    width: 251px;
    color: white;
    margin-bottom: -23px;
    flex-wrap: wrap;
    margin-left: 36px;
    padding-right: 52px;
}

.btn_form_estado{
    border-radius: 22px;
    width: 23px;
    height: 22px;
    
    cursor:pointer;
    background:red;
   
    display: flex;
    margin-top:33px;
    padding-left: 5px;
    padding-top:0px;
    padding-bottom: 21px;
}
.box_btn_form_estado{
    width: 28px;
    margin-top: 0px;
}
