:root {
  --stars: 5vw 15vh 2px white, 1vw 33vh 0px white, 2vw 25vh 2px white, 10vw 10vh 2px white, 12vw 20vh 0px white, 30vw 15vh 2px white, 16vw 5vh 2px white, 24vw 10vh 0px white, 32vw 40vh 0px white, 33vw 35vh 2px white, 12vw 38vh 2px white, 24vw 10vh 0px white, 33vw 5vh 2px white, 20vw 10vh 0px white, 80vw 10vh 2px white, 62vw 20vh 0px white, 60vw 15vh 2px white, 70vw 7vh 0px white, 62vw 50vh 0px white, 65vw 35vh 2px white, 64vw 10vh 0px white, 85vw 2vh 0px white, 92vw 40vh 0px white, 75vw 35vh 2px white, 90vw 10vh 0px white, 80vw 33vh 2px white, 80vw 10vh 0px white, 95vw 2vh 2px white, 95vw 25vh 0px white, 65vw 25vh 0px white, 85vw 20vh 0px white, 75vw 17vh 0px white, 25vw 25vh 0px white,95vw 95vh 2px white, 1vw 90vh 0px white, 2vw 80vh 2px white, 10vw 70vh 2px white, 12vw 65vh 0px white, 30vw 80vh 2px white, 16vw 85vh 2px white, 14vw 50vh 0px white, 5vw 55vh 0px white, 20vw 58vh 2px white, 80vw 38vh 2px white, 90vw 90vh 0px white, 90vw 95vh 2px white, 88vw 10vh 0px white, 80vw 10vh 2px white, 62vw 20vh 0px white, 60vw 15vh 2px white, 70vw 7vh 0px white, 62vw 50vh 0px white, 65vw 35vh 2px white, 64vw 10vh 0px white, 85vw 55vh 0px white, 92vw 60vh 0px white, 75vw 67vh 2px white, 60vw 80vh 0px white, 56vw 95vh 2px white, 75vw 70vh 0px white, 70vw 96vh 2px white, 79vw 87vh 0px white, 80vw 78vh 0px white, 85vw 70vh 0px white, 90vw 80vh 0px white, 25vw 25vh 0px white;
}
.h_uno{
  font-weight: bold;
  display: flex;
  height: 6rem;
  position:absolute;
  width: 29rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 41px;
  left: 20rem;
  
}
.h_uno span { display:inline-block; animation:float .2s infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

.h_uno span:nth-child(2){ animation-delay:.05s; }
.h_uno span:nth-child(3){ animation-delay:.1s; }
.h_uno span:nth-child(4){ animation-delay:.15s; }
.h_uno span:nth-child(5){ animation-delay:.2s; }
.h_uno span:nth-child(6){ animation-delay:.25s; }
.h_uno span:nth-child(7){ animation-delay:.3s; }
.h_uno span:nth-child(8){ animation-delay:.35s; }
.h_uno span:nth-child(9){ animation-delay:.4s; }
.h_uno span:nth-child(10){ animation-delay:.45s; }
.h_uno span:nth-child(11){ animation-delay:.5s; }
.h_uno span:nth-child(12){ animation-delay:.55s; }
.h_uno span:nth-child(13){ animation-delay:.6s; }
.h_uno span:nth-child(14){ animation-delay:.65s; }

html, body {
  height: 100vh;
}

body {
  background: #060817;
  overflow: hidden;
   /* display: flex;  */
  align-items: center;
  justify-content: center;
}

body:before {
  
  content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    border-radius: 100%;
    width: 3px;
    height: 4px;
    z-index: -1;
    opacity: 0.3;
    box-shadow: var(--stars);
}

.earth {
  perspective: 400vmin;
  transform-style: preserve-3d;
  width: min(80vmin, 320px);
  height: min(80vmin, 320px);
}

.earth::before {
  margin-top: 6rem;
    margin-left: 18rem;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 60%;
  background: url(https://pbs.twimg.com/media/DON8Y_eUMAAV4pi.jpg) repeat-x;
  background-size: cover;
  border-radius: 50%;
  animation: rotate 30s infinite linear;
  box-shadow: -80px -15px 80px 10px rgba(0,0,0,.9) inset, -10px 0px 15px -7px #f0df1759;
}


@keyframes rotate {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position:1200px 0px;
  }
}

.box_hijo_landing {
 
  margin: 0rem 3rem 0 81px;
}
.box_hijo_landing button {
  font-family: 'Permanent Marker', cursive;
  position: relative;
  left: 27rem;
    top: 300px;
  cursor: pointer;
  border-radius: 31px;
  background: linear-gradient(to left, rgb(2,2,85) 1%, black, black);
  width: 9rem;
  height: 75px;
  margin: 0px 15rem;
  font-weight: 600;
  color:white;
  font-size: 21px;
  letter-spacing:3px;
  

 
}

.box_hijo_landing button:hover {
  color: white;
  transition: 1s;
  background: gray;
}
.logo_landing img{
  width:4rem;
  transform:rotate(35deg);
  position: absolute;
    width: 3rem;
    /* height: 3rem; */
    top: 36px;
    margin-left: 11rem;
}
.logo_landing{
  margin-top:5px;  
  display:flex;
  width:91px;
}

.logo_segundo_landing{
  width:4rem;
   transform:rotate(35deg); 
  
  position: absolute;
    width: 3rem;
    /* height: 3rem; */
    top: 36px;
    margin-left: 46rem;

} 
.span_landing{
  padding-left:19px;
}