.box_hijo_home{
    margin-left: 2rem;
  }
  .box_search_buscar input{
    width: 15rem;
     background:white; 
    border-radius:4px;
    margin-top: 2.6rem;
    outline:none;

}
::placeholder{
  margin-left:3rem;
  font-size:11px;
}
.peligro{
  font-size: 13px;
  color:red;
  font-weight: bold;
  height: 20px;
  width: 31rem;
  border-radius: 11rem;
}
.box_valida_search{
  top: 4rem;
  left:11rem;
  position: absolute;
}
.search_buscar{
  height: 66px;
  position: absolute;

  border-radius: 4px;
  width: 34px;
  display: flex;
  align-items: flex-end;
}
.search_buscar img{
  width: 28px;
  height: 22px;
  padding-top: 5px;
  padding-left:3px;
  cursor:pointer;
  position:absolute;
  top:2.5rem;
  
}

